Repository dedis/cothority, pull requests merged in 2019-09, with the labels that each got.

#2046 Porting urlToWebsocket simplification
  external/js/cothority/src/network/proto.ts
Labels: external / js, fix

#2040 js/kyber: use noImplicitAny
  external/js/kyber/spec/group/edwards25519/vector.spec.ts
  external/js/kyber/spec/helpers/jsverify.ts
  external/js/kyber/spec/helpers/utils.ts
  external/js/kyber/spec/sign/bdn/bdn.spec.ts
  external/js/kyber/spec/sign/mask.spec.ts
  external/js/kyber/src/curve/edwards25519/scalar.ts
  external/js/kyber/src/curve/index.ts
  external/js/kyber/src/curve/nist/curve.ts
  external/js/kyber/tsconfig.json
Labels: external / js

#2044 Updates write spawn to include the extraData field
  calypso/csadmin/README.md
  calypso/csadmin/clicontracts/write.go
  calypso/csadmin/clicontracts/write_test.sh
  calypso/csadmin/commands.go
Labels: Calypso, enhancement, fix

#2041 js/cothority: update doc, standarize types
  external/js/cothority/spec/personhood/credentials-instance.spec.ts
  external/js/cothority/src/personhood/credentials-instance.ts
Labels: external / js

#2043 Adds a cli interface for the name contract
  byzcoin/bcadmin/clicontracts/name.go
  byzcoin/bcadmin/clicontracts/name_test.sh
  byzcoin/bcadmin/commands.go
  byzcoin/bcadmin/lib/utils.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
  byzcoin/contract_name.go
  byzcoin/service.go
  calypso/csadmin/clicontracts/write_test.sh
  calypso/csadmin/test.sh
Labels: ByzCoin, enhancement, feature

#2056 Fixes a minor typo
  calypso/csadmin/README.md
Labels: ByzCoin, fix

#2063 Csadmin update
  byzcoin/contract_darc.go
  calypso/csadmin/README.md
  calypso/csadmin/clicontracts/read_test.sh
  calypso/csadmin/clicontracts/write.go
  calypso/csadmin/clicontracts/write_test.sh
  calypso/csadmin/commands.go
  calypso/csadmin/main.go
  calypso/csadmin/test.sh
Labels: Calypso, enhancement
