Repository dedis/cothority, pull requests merged in 2019-05, with the labels that each got.

#1852 bcadmin: Adds a new option to edit a Darc's description
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, feature

#1855 Calypso java client optimization
  external/java/pom.xml
  external/java/src/main/java/ch/epfl/dedis/calypso/CalypsoRPC.java
  external/java/src/test/java/ch/epfl/dedis/calypso/CalypsoTest.java
Labels: enhancement

#1856 Implements the spawn and invoke update of the value contract
  byzcoin/bcadmin/clicontracts/value.go
  byzcoin/bcadmin/lib/utils.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, feature

#1860 Ignores the bin folder and .project of external/java
  .gitignore
Labels: enhancement

#1861 Refactors the clicontract/value.go test
  byzcoin/bcadmin/clicontracts/value_test.sh
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, enhancement

#1864 Adds a string representation of Deferred data
  byzcoin/contract_deferred.go
Labels: ByzCoin, enhancement

#1867 bcadmin: adds --redirect for value contract
  byzcoin/bcadmin/clicontracts/value.go
  byzcoin/bcadmin/clicontracts/value_test.sh
Labels: ByzCoin, feature

#1870 Fixes the integration test
  byzcoin/bcadmin/main.go
Labels: fix

#1873 Adds a "get" function to the value clicontract
  byzcoin/bcadmin/clicontracts/value.go
  byzcoin/bcadmin/clicontracts/value_test.sh
  byzcoin/bcadmin/main.go
  conode/log/conode_co1_7770-190513-1409.log
  conode/log/conode_co1_7770-190513-1410.log
  conode/log/conode_co1_7770-190513-1411.log
  conode/log/conode_co2_7772-190513-1409.log
  conode/log/conode_co2_7772-190513-1410.log
  conode/log/conode_co2_7772-190513-1411.log
  conode/log/conode_co3_7774-190513-1409.log
  conode/log/conode_co3_7774-190513-1410.log
  conode/log/conode_co3_7774-190513-1411.log
  conode/log/conode_co4_7776-190513-1409.log
  conode/log/conode_co4_7776-190513-1410.log
  conode/log/conode_co4_7776-190513-1411.log
  conode/log/conode_co5_7778-190513-1409.log
  conode/log/conode_co5_7778-190513-1410.log
  conode/log/conode_co5_7778-190513-1411.log
Labels: ByzCoin, feature

#1874 Removes logs and further ignore them
  .gitignore
  conode/log/conode_co1_7770-190513-1409.log
  conode/log/conode_co1_7770-190513-1410.log
  conode/log/conode_co1_7770-190513-1411.log
  conode/log/conode_co2_7772-190513-1409.log
  conode/log/conode_co2_7772-190513-1410.log
  conode/log/conode_co2_7772-190513-1411.log
  conode/log/conode_co3_7774-190513-1409.log
  conode/log/conode_co3_7774-190513-1410.log
  conode/log/conode_co3_7774-190513-1411.log
  conode/log/conode_co4_7776-190513-1409.log
  conode/log/conode_co4_7776-190513-1410.log
  conode/log/conode_co4_7776-190513-1411.log
  conode/log/conode_co5_7778-190513-1409.log
  conode/log/conode_co5_7778-190513-1410.log
  conode/log/conode_co5_7778-190513-1411.log
Labels: fix

#1868 Bcadmin: deferred clicontract
  byzcoin/bcadmin/clicontracts/README.md
  byzcoin/bcadmin/clicontracts/deferred.go
  byzcoin/bcadmin/clicontracts/deferred_test.sh
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, barrier, feature

#1875 Deferred contract: Makes expireBlockIndex optional
  byzcoin/bcadmin/clicontracts/deferred.go
  byzcoin/contract_deferred.go
  byzcoin/contracts/contract_deferred_test.go
Labels: ByzCoin, feature

#1886 fixes the mask-aggregate
  external/js/kyber/package.json
  external/js/kyber/spec/sign/mask.spec.ts
  external/js/kyber/src/sign/mask.ts
Labels: bug, fix, skipchain

#1884 fixes behaviour for credential-contract
  personhood/contract_spawner.go
  personhood/contract_test.go
Labels: ByzCoin, bug

#1887 Improvements and fix for deferred
  byzcoin/bcadmin/clicontracts/deferred.go
  byzcoin/contract_darc.go
  byzcoin/contract_deferred.go
  byzcoin/contracts.go
  byzcoin/contracts/contract_deferred_test.go
  byzcoin/contracts/insecure_darc.go
  byzcoin/struct.go
Labels: ByzCoin, barrier, enhancement, fix

#1893 Prevent block with infinite loop
  skipchain/skipchain.go
  skipchain/skipchain_test.go
Labels: bug, high priority

#1885 bcadmin debug replay checks links
  byzcoin/bcadmin/main.go
  byzcoin/statereplay.go
Labels: ByzCoin, enhancement

#1876 Adds get and delete methods to clicontracts
  byzcoin/bcadmin/clicontracts/README.md
  byzcoin/bcadmin/clicontracts/deferred.go
  byzcoin/bcadmin/clicontracts/deferred_test.sh
  byzcoin/bcadmin/clicontracts/value.go
  byzcoin/bcadmin/clicontracts/value_test.sh
  byzcoin/bcadmin/main.go
Labels: ByzCoin, feature

#1892 Adds config clicontract with invoke:update_config
  byzcoin/bcadmin/clicontracts/README.md
  byzcoin/bcadmin/clicontracts/config.go
  byzcoin/bcadmin/clicontracts/config_test.sh
  byzcoin/bcadmin/clicontracts/deferred.go
  byzcoin/bcadmin/clicontracts/value.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, feature

#1896 Deferred contract: Adds test scenarios
  byzcoin/contracts/contract_deferred_test.go
Labels: ByzCoin, enhancement

#1906 Eventlog streaming
  byzcoin/service.go
  eventlog/api.go
  eventlog/api_test.go
  external/java/src/main/java/ch/epfl/dedis/byzcoin/ByzCoinRPC.java
  external/java/src/main/java/ch/epfl/dedis/eventlog/EventLogInstance.java
  external/java/src/test/java/ch/epfl/dedis/byzcoin/contracts/EventlogTest.java
Labels: feature

#1913 Skipchain doc update
  skipchain/README.md
  skipchain/skipchain_example.png
Labels: enhancement, skipchain

#1922 Do not globally display usage for contract
  byzcoin/bcadmin/main.go
Labels: ByzCoin, fix

#1933 Add a method to get all skipchains
  external/java/src/main/java/ch/epfl/dedis/skipchain/SkipchainRPC.java
  external/java/src/test/java/ch/epfl/dedis/skipchain/SkipchainRPCTest.java
Labels: enhancement

#1927 Cosmetic updates for bcadmin deferred
  byzcoin/bcadmin/clicontracts/README.md
  byzcoin/bcadmin/clicontracts/deferred.go
  byzcoin/bcadmin/clicontracts/deferred_test.sh
  byzcoin/bcadmin/clicontracts/value.go
  byzcoin/bcadmin/clicontracts/value_test.sh
  byzcoin/bcadmin/main.go
Labels: ByzCoin, enhancement
