Repository dedis/cothority, pull requests merged in 2019-12, with the labels that each got.

#2160 proto.awk: supports floating
  proto.awk
Labels: easy review, enhancement

#2159 external/cothority/protobuf: addJSON supports known namespace
  external/js/cothority/src/protobuf/index.ts
Labels: easy review, enhancement, external / js

#2163 external/cothority: small fixes
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/cothority/src/index.ts
Labels: easy review, enhancement, external / js

#2144 Bevm cmdline tools
  bevm/bevm_client.go
  bevm/bevm_contract.go
  bevm/bevm_contract_test.go
  bevm/bevmadmin/README.md
  bevm/bevmadmin/main.go
  bevm/bevmclient/README.md
  bevm/bevmclient/cmd_def.go
  bevm/bevmclient/cmd_imp.go
  bevm/bevmclient/main.go
  bevm/bevmclient/test.sh
  bevm/bevmclient/utils.go
  bevm/database.go
  bevm/database_byz.go
  bevm/database_mem.go
  bevm/params.go
  bevm/params_test.go
  bevm/service.go
  conode/Makefile
Labels: enhancement
