Repository dedis/cothority, pull requests merged in 2019-11, with the labels that each got.

#2133 Remove the link for the deploy stage
  .travis.yml
Labels: take-for-v3

#2131 Fixes wrong implementation and test of "bcadmin darc cdesc"
  byzcoin/bcadmin/commands.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, easy review, fix, take-for-v3

#2132 Refactors the processOneTx function
  byzcoin/service.go
Labels: ByzCoin, enhancement

#2137 backporting #2090
  Makefile
  external/js/cothority/package.json
  external/js/cothority/spec/byzcoin/client-transaction.spec.ts
  external/js/cothority/spec/byzcoin/coin-instance.spec.ts
  external/js/cothority/spec/network/connection.spec.ts
  external/js/cothority/spec/skipchain/skipchain-rpc.spec.ts
  external/js/cothority/spec/support/conondes.ts
  external/js/cothority/src/byzcoin/byzcoin-rpc.ts
  external/js/cothority/src/byzcoin/client-transaction.ts
  external/js/cothority/src/calypso/calypso-rpc.ts
  external/js/cothority/src/log.ts
  external/js/cothority/src/network/connection.ts
  external/js/cothority/src/network/nodes.ts
  external/js/cothority/src/skipchain/skipchain-rpc.ts
  external/js/cothority/src/status/status-rpc.ts
  external/js/cothority/tslint.json
  go.sum
  skipchain/skipchain.go
Labels: taken-for-v3

#2143 external/js/kyber: add @types/elliptic for users
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/kyber/package-lock.json
  external/js/kyber/package.json
Labels: bug, easy review, external / js, fix, take-for-v3

#2146 doctoc.sh: Fixes the case where an emoji is used in the title
  doctoc.sh
Labels: easy review, fix

#2138 Adds "bcadmin instance get"
  byzcoin/bcadmin/commands.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, enhancement, feature

#2149 CothorityJS uses KyberJS v3.4.0
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
Labels: easy review

#2152 Updates outputs of "bcadmin info" and "bcadmin instance"
  byzcoin/bcadmin/lib/config.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, easy review, enhancement
