Repository dedis/cothority, pull requests merged in 2020-08, with the labels that each got.

#2349 Use @ethersproject/abi instead of ethereumjs-abi
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/cothority/spec/bevm/bevm-instance.spec.ts
  external/js/cothority/src/bevm/bevm-instance.ts
  external/js/cothority/src/bevm/index.ts
Labels: BEvm

#2353 Upgrade typedoc to fix generation issues
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
Labels: external / js, fix

#2354 Add missing @ethersproject/bignumber dep
  external/js/cothority/package.json
Labels: BEvm, easy review, external / js

#2355 Publish cothority-js v3.5.1
  external/js/cothority/package.json
Labels: BEvm, external / js

#2348 Improve result/event unpack
  bevm/api.go
  bevm/attr.go
  bevm/bevmclient/test.sh
  bevm/call_byzcoin.go
  bevm/contract.go
  bevm/contract_test.go
  bevm/testdata/ABIv2/ABIv2.sol
  bevm/testdata/ABIv2/ABIv2_sol_ABIv2.abi
  bevm/testdata/ABIv2/ABIv2_sol_ABIv2.bin
Labels: BEvm, enhancement

#2360 Updates kyber dependencies
  PUBLISH.md
  external/js/kyber/package-lock.json
  external/js/kyber/package.json
Labels: easy review, external / js, fix

#2361 Updates @dedis/cothority dep
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
Labels: easy review, external / js, fix

#2364 Fixes addJSON
  external/js/cothority/spec/protobuf/index.spec.ts
  external/js/cothority/src/protobuf/index.ts
Labels: external / js, fix
