Repository dedis/cothority, pull requests merged in 2020-01, with the labels that each got.

#2171 BEvm cmdline: fix unchecked cast
  bevm/bevm_client.go
Labels: fix

#2173 KyberJS: fix curve point double stability
  external/js/kyber/spec/pairing/point.spec.ts
  external/js/kyber/src/pairing/curve-point.ts
Labels: bug

#2174 external/kyber: test for BN256 add/sub/neg/mul immutability
  external/js/kyber/spec/pairing/point.spec.ts
  external/js/kyber/src/pairing/point.ts
Labels: bug, external / js

#2168 travis: add lint to external/js
  .travis.yml
Labels: external / js, integration

#2175 external/kyber/bn256: fix order for scalar
  external/js/kyber/spec/pairing/point.spec.ts
  external/js/kyber/spec/pairing/scalar.spec.ts
  external/js/kyber/src/pairing/curve-point.ts
  external/js/kyber/src/pairing/scalar.ts
Labels: Epic, bug, external / js, fix, testing

#2176 external/kyber/bn256: fix lint of tests
  external/js/kyber/spec/pairing/point.spec.ts
Labels: barrier, external / js, fix, high priority

#2179 Adds --shortPrint option to "bcadmin darc add"
  byzcoin/bcadmin/commands.go
  byzcoin/bcadmin/main.go
  byzcoin/bcadmin/test.sh
Labels: ByzCoin, easy review, feature

#2177 external/kyber/bn256: mod after neg
  external/js/kyber/spec/pairing/point.spec.ts
  external/js/kyber/src/pairing/curve-point.ts
Labels: bug, external / js, fix, testing

#2182 GetUpdateChain: send all available updates
  external/js/cothority/spec/skipchain/skipchain-rpc.spec.ts
  external/js/cothority/src/network/connection.ts
  external/js/cothority/src/network/nodes.ts
  external/js/cothority/src/skipchain/skipchain-rpc.ts
  skipchain/api.go
  skipchain/api_test.go
  skipchain/skipchain.go
  skipchain/skipchain_test.go
Labels: bug
