Repository dedis/cothority, pull requests merged in 2020-02, with the labels that each got.

#2192 Adds a PaginateBlocks service to byzcoin
  byzcoin/proto.go
  byzcoin/service.go
  byzcoin/streaming.go
  byzcoin/streaming_test.go
  byzcoin/tx_pipeline.go
  external/java/src/main/java/ch/epfl/dedis/lib/proto/ByzCoinProto.java
  external/js/cothority/src/protobuf/models.json
  external/proto/byzcoin.proto
  go.mod
Labels: ByzCoin, feature, skipchain

#2193 Updates the javascript client for the paginate block service
  external/js/cothority/spec/byzcoin/stream.spec.ts
  external/js/cothority/spec/network/connection.spec.ts
  external/js/cothority/src/byzcoin/proto/stream.ts
  external/js/cothority/src/network/connection.ts
Labels: external / js, feature

#2196 external/cothority: WebSocketConnection supports URL
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/cothority/spec/network/connection.spec.ts
  external/js/cothority/src/network/connection.ts
Labels: easy review, enhancement, external / js

#2208 Merges Odyssey needs
  byzcoin/bcadmin/main.go
  calypso/contracts.go
  calypso/csadmin/clicontracts/read.go
  calypso/csadmin/clicontracts/write.go
  calypso/csadmin/commands.go
  calypso/service.go
  darc/darc.go
  external/js/cothority/spec/network/connection.spec.ts
  go.mod
  go.sum
Labels: Calypso, feature

#2213 staticcheck tests pass
  authprox/service_test.go
  bevm/bevm_contract_test.go
  bevm/params_test.go
  bftcosi/bftcosi_test.go
  blscosi/protocol/protocol_test.go
  byzcoin/api_test.go
  byzcoin/collect_tx_test.go
  byzcoin/contract_darc_test.go
  byzcoin/contract_name_test.go
  byzcoin/contracts/attr_test.go
  byzcoin/contracts/coins_test.go
  byzcoin/contracts/contract_deferred_test.go
  byzcoin/contracts/insecure_darc_test.go
  byzcoin/contracts/value_test.go
  byzcoin/proof_test.go
  byzcoin/service_test.go
  byzcoin/statereplay_test.go
  byzcoin/statetrie_test.go
  byzcoin/struct_test.go
  byzcoin/transaction_test.go
  byzcoin/trie/db_test.go
  byzcoin/trie/staging_test.go
  byzcoin/trie/trie_test.go
  byzcoin/viewchange_test.go
  byzcoinx/byzcoinx_test.go
  calypso/api_test.go
  calypso/protocol/ocs_test.go
  calypso/protocol/onchain_test.go
  calypso/service_test.go
  darc/darc_test.go
  darc/expression/expression_test.go
  eventlog/api_test.go
  evoting/protocol/decrypt_test.go
  evoting/protocol/shuffle_test.go
  evoting/service/service_test.go
  ftcosi/protocol/protocol_test.go
  ftcosi/service/ftcosi_test.go
  messaging/propagate_test.go
  personhood/contracts/contract_credential_test.go
  personhood/contracts/contract_popparty_test.go
  personhood/contracts/contract_ropasci_test.go
  personhood/contracts/contract_test.go
  skipchain/api_test.go
  skipchain/long_test.go
  skipchain/protocol_test.go
  skipchain/skipchain_test.go
  skipchain/struct_test.go
  status/service/status_test.go
Labels: enhancement, help wanted, testing

#2217 Fixes an unwanted limitation on URLs
  external/js/cothority/spec/network/connection.spec.ts
  external/js/cothority/src/network/connection.ts
Labels: bug, external / js

#2214 Add bevm darc attr
  bevm/bevm_attr.go
  bevm/bevm_attr_test.go
  bevm/bevm_client.go
  bevm/bevm_contract.go
  bevm/bevm_contract_test.go
  bevm/database_byz.go
  bevm/params.go
  bevm/testdata/TimeTest/TimeTest.sol
  bevm/testdata/TimeTest/TimeTest_sol_TimeTest.abi
  bevm/testdata/TimeTest/TimeTest_sol_TimeTest.bin
  bevm/testdata/Verify/Verify.sol
  bevm/testdata/Verify/Verify_sol_Verify.abi
  bevm/testdata/Verify/Verify_sol_Verify.bin
  byzcoin/proto.go
  byzcoin/service.go
  byzcoin/service_test.go
  byzcoin/statereplay.go
  byzcoin/statetrie.go
  byzcoin/transaction.go
  byzcoin/tx_pipeline.go
  external/java/src/main/java/ch/epfl/dedis/lib/proto/ByzCoinProto.java
  external/js/cothority/src/protobuf/models.json
  external/proto/byzcoin.proto
Labels: feature

#2210 Adds a short practical summary of ByzCoin
  byzcoin/ByzCoin.png
  byzcoin/ByzCoin.svg
  byzcoin/README.md
  skipchain/README.md
Labels: easy review, enhancement

#2215 bevm: simplify contract registration
  bevm/bevm_contract_test.go
  bevm/service.go
Labels: easy review

#2219 Bumps js/cothority version
  byzcoin/service_test.go
  calypso/csadmin/main.go
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
Labels: easy review, external / js
