Repository dedis/cothority, pull requests merged in 2020-07, with the labels that each got.

#2326 Apply review comments
  bevm/api.go
  bevm/service.go
  bevm/service_test.go
Labels: BEvm

#2330 Wait for transaction to be propagated to all nodes
  bevm/service_test.go
Labels: BEvm, bug

#2334 Add serialization of client objects
  external/js/cothority/spec/bevm/account.spec.ts
  external/js/cothority/spec/bevm/client.spec.ts
  external/js/cothority/spec/bevm/contract.spec.ts
  external/js/cothority/src/bevm/client.ts
Labels: BEvm, easy review, enhancement, external / js

#2338 js/kyber: mv bn.js to deps
  external/js/kyber/package-lock.json
  external/js/kyber/package.json
Labels: enhancement, external / js

#2339 js/kyber: mv @types/elliptic to deps
  external/js/kyber/package-lock.json
  external/js/kyber/package.json
Labels: enhancement, external / js

#2332 Use js ethereum libs & improve View Method calls
  bevm/api.go
  bevm/attr.go
  bevm/contract.go
  bevm/database_byz.go
  bevm/proto.go
  bevm/service.go
  bevm/service_test.go
  external/java/src/main/java/ch/epfl/dedis/lib/proto/BEvmProto.java
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/cothority/spec/bevm/account.spec.ts
  external/js/cothority/spec/bevm/bevm-instance.spec.ts
  external/js/cothority/spec/bevm/client.spec.ts
  external/js/cothority/spec/bevm/contract.spec.ts
  external/js/cothority/spec/bevm/service.spec.ts
  external/js/cothority/src/bevm/bevm-instance.ts
  external/js/cothority/src/bevm/bevm-rpc.ts
  external/js/cothority/src/bevm/index.ts
  external/js/cothority/src/bevm/proto.ts
  external/js/cothority/src/bevm/service.ts
  external/js/cothority/src/protobuf/models.json
  external/proto/bevm.proto
Labels: BEvm, enhancement

#2343 BEvm TS fixes
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/cothority/spec/bevm/bevm-instance.spec.ts
  external/js/cothority/src/bevm/bevm-instance.ts
Labels: BEvm, easy review

#2344 Publish cothority-js v3.5.0
  external/js/cothority/package.json
Labels: external / js
