Repository dedis/cothority, pull requests merged in 2021-03, with the labels that each got.

#2429 Adds a threshold rule for DARC expressions.
  darc/darc.go
  darc/darc_test.go
  darc/expression/expression.go
  darc/expression/expression_test.go
  external/java/pom.xml
Labels: feature

#2434 Send view method call to whole roster
  bevm/api.go
  bevm/proto.go
  bevm/service.go
  bevm/service_test.go
  external/java/src/main/java/ch/epfl/dedis/lib/proto/BEvmProto.java
  external/js/cothority/spec/bevm/anypromise.spec.ts
  external/js/cothority/src/bevm/bevm-instance.ts
  external/js/cothority/src/bevm/bevm-rpc.ts
  external/js/cothority/src/bevm/proto.ts
  external/js/cothority/src/byzcoin/proto/requests.ts
  external/js/cothority/src/protobuf/models.json
  external/proto/bevm.proto
Labels: BEvm, enhancement

#2436 js/cothority: rm url-parse
  external/js/cothority/package-lock.json
  external/js/cothority/package.json
  external/js/cothority/src/network/websocket.ts
Labels: Epic, external / js
